@model Product

<form method="post" asp-action="Update" asp-controller="Product">
Product Name: <input type="text" asp-for="@Model.Name" /> <br />

Product Name: <input type="text" asp-for="@Model.CagtegoryName" /> <br />

<button>Submit</button>
</form>